.card {
  background-color: var(--white);
  padding: 40px 30px 80px;
  border-radius: 30px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 38px;
}

.card-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .class-item {
    padding-top: 0;
  }
}
