.switch {
  display: flex;
  gap: 10px;
  align-items: baseline;
  flex-direction: row;
  margin: 15px 0;
}

.switch.large {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
}

.switch-wrapper {
  width: 25px;
  height: 15px;
  border-radius: 10px;
  background: var(--darkgrey);
  padding: 2px;
  transition: background 0.3s;
}

.switch-inner {
  width: 11px;
  height: 11px;
  border-radius: 8px;
  background: white;
  transition: margin-left 0.3s;
}

input:checked + .switch-wrapper .switch-inner {
  margin-left: 10px;
}

input:checked + .switch-wrapper {
  background: var(--purple);
}

.switch input {
  display: none;
}

.checkbox-line {
  background-color: var(--darkgrey);
  height: 1.5px;
}

.checkbox-precision {
  font-size: 12px;
  text-align: left;
  padding-left: 35px;
  margin-top: 6px;
  padding-right: 90px;
}
