.class {
  font-size: 15px;
  color: var(--darkgrey);
  display: flex;
}

fieldset {
  border: 0px;
}

.class-item {
  position: relative;
  padding-top: 60px;
}

.class-dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  padding: 11px;
  border-radius: 8px;
  color: black;
  border-radius: 6px;
  border: 1px solid var(--darkgrey);
  list-style: none;
  white-space: nowrap;
}

.class-item:hover .class-dropdown {
  opacity: 1;
  pointer-events: all;
}

.class-title {
  padding-right: 10px;
  display: flex;
}

.class-arrow {
  padding-left: 5px;
}

.class-line {
  background-color: var(--grey);
  height: 1px;
  margin: 5px 0;
}

.class-dropdown li:hover {
  background: rgba(#b47fff, 0.3);
  border-radius: 5px;
}
