.textfield {
  display: flex;
  justify-content: center;
  height: 100%;
  input {
    border-radius: 8px;
    width: 397px;
    border: 3px solid #bbb;
    padding: 13px 22px;
    font-size: 18px;
  }
}

.textfield-card {
  input {
    width: 100%;
    padding: 13px 22px;
    border-radius: 8px;
    border: 3px solid #bbb;
    margin: 37px 0;
  }
}
